.general{
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: row;
}
.panelI{
    width: 8%;
    height: 98%;
    margin: 1%;

}
.superior{
    width: 98%;
    height: 50%;
    margin: 1%;
    background-color: #F7F9F9;
    border-radius: 5px;
    margin-bottom:  10px;
    padding: 1px;
   

    
}
.inferior{
    width: 98%;
    height: 50%;
    margin: 1%;
    background-color: #F7F9F9;
    border-radius: 5px;
    padding: 1px;
    





}
.panelD{
    width: 88%;
    height: 98%;
    margin: 1%;
}
.panelEdicion{
    width: 98%;
    height: 500px;
    margin: 1%;
    background-color: #F7F9F9;
    border-radius: 5px;
    padding: 5px;
    transition: 1s;


}
.panelCodigo{
    width: 98%;
    height: auto;
    margin: 1%;
    background-color: #F7F9F9;
    border-radius: 5px;
    padding: 5px;




}
.flecha{
    fill:black;
    stroke-width:2;
}
.figura{
    fill:white; 
    stroke: black; 
    stroke-width:2;
}
.figuraIF{
    fill:white; 
    stroke: black; 
    stroke-width:2;
}
.contornoIF{
    fill: black;
    stroke-width: 1;
}
.textos{
    font: 15px sans-serif;
}
.simbolos{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    flex-wrap: wrap;
}
.icono{
    width: 39px;
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0px;
}
.ic{
    width: 38px;
    height: 38px;
}
img{
    transition: 1s;
}
.ic2{
    width: 22px;
    height: 22px;
}


.ic:hover{
    width: 50px ;
    height: 50px;
}
.ic2:hover{
    width: 25px ;
    height: 25px;
}
.esp{
    width: 10px;
    height: auto;
}